
@model IEnumerable<dz_DataBase.Models.Product>
<h1>List of Products</h1>
<p><a asp-action="Create">Add Product</a> | <a href="/Home/Show">Show Products</a></p>

<br/>
<br/>

<table class="table" style="width: 500px; height: 300px">
    <tr style="background-color: grey"><th style="background-color: grey;">Name</th><th style="background-color: grey">Price</th><th style="background-color: grey">description</th></tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-action="Delete" asp-controller="Home" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Delete" style="margin-bottom: -25px; margin-left: 30px"/>
                </form>
            </td>
        </tr>        
    }
</table>