@using(Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <p>
        <labe>Name</labe>
        @Html.TextBox("Name")
    </p>
    <p>
        <labe>Age</labe>
       @Html.TextBox("Age", "", new {type="number"})
    </p>

    <p>
        <input type="submit" name="send form"/>
    </p>

}
<textarea cols="50" id="text" name="text" rows="2">Hello World</textarea>
@Html.TextArea("text", "Hello Helper", 5, 50, null)
@Html.Hidden("userId", "2")
@Html.Password("User pass", "val")