@*@using dz
<h1>
    Home page
</h1>
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
</p>
@Html.CreateFooter();*@

@using dz.ViewModels
@using dz.Models
@model IndexViewModel

<style>
    td{padding: 5px;}
    tr:nth-child(even){background: #CCC}
    tr:nth-child(odd) {background: #FFF}
</style>

<form>
    <label>Choose a country of product</label>
    <select name="countryId">
        @foreach(CountryModel country in Model.Countries)
        {
            <option value="@country.Id">@country.Name</option>            
        }
    </select>
    <input type="submit"/>
</form>
<br/>
<table>
    <tr><td>Name</td><td>Country</td></tr>
    @foreach(Product p in Model.Products)
    {
         <tr><td>@p.Id</td><td>@p.Name</td><td>@p.Country.Name</td></tr>
    }
</table>